


<h2>Partogram</h2>


<div *ngFor="let m of measurements">
  <div>Dilation</div>
  <div>{{m.dilation}}</div>
  <div>Time</div>
  <div>{{m.time}}</div>
  <button (click)="removeMeasurement(m.time)">Remove Measurement</button>
</div>

<div>
  <svg />
</div>

<div>
  <h3>Add Measurement</h3>
  <div>
    <p>time:
    </p>
    <div>
    <owl-date-time-inline [(ngModel)]="newMeasurement.time"></owl-date-time-inline>
    </div>
  </div>
  <div>
    <label>Dilation:
      <input [(ngModel)]="newMeasurement.dilation" placeholder="Dilation" >
    </label>

  </div>
  <button (click)="addNewMeasurement()">Add Measurement!</button>
</div>



 <button (click)="saveSvg()">Download Partogram</button>
