<div class="add-measurement">
	<h3 class="header">Add Measurement</h3>
	<div class="row">
		<div class="col-md-6">
			<owl-date-time-inline hour12Timer="true" [(ngModel)]=" newMeasurement.time "></owl-date-time-inline>
		</div>
		<div class="col-md-6 dilation-form ">
			<div>
				<label>Dilation (cm):</label>
				<input [(ngModel)]="newMeasurement.dilation " placeholder="Dilation ">
			</div>
			<button class="add-measurement-button btn btn-primary btn-lg" (click)="addNewMeasurement() ">Add!</button>
		</div>
	</div>
</div>