#dilation-input {
  width: 2.5rem;
}

.dilation-form {
  margin: auto;
}

.add-measurement-button {
  margin-left: 30%;
  margin-top: 5%;
}

.header {
  margin-bottom: 1.5rem;
}

.inline {
  display: inline-flex;
}

.dilation-label {
  margin-right: 0.5rem !important;
  font-size: initial;
}

.center-form {
  margin-left: 3rem;
}
