<table class="table table-striped table-hover table-bordered">
    <thead class="thead-light">
        <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birthdate</th>
        <th>Status</th>
        <th>BMI</th>
        <th>Weight</th>
        <th>Height</th>
        </tr>
    </thead>
    <tbody>
        <tr
        *ngFor="let patient of service.patients; let i = index;"
        [class.table-primary] = "(i == 0 || patient.active) && patient.status"
        [class.table-danger] = "(i == 0 || patient.active) && !patient.status"
        [class.table-selected] = "i == selectedRow"
        (click)="onPatientClick(patient, i, $event)">
          <td>{{patient.patientId}}</td>
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>
          <td>{{patient.getBirthDate()}}</td>
          <td><span [ngClass]="{ badge:true, 'badge-warning': patient.weight 
            && !patient.status, 'badge-success': patient.weight 
            && patient.status}">
            {{patient.weight && patient.status ? 'OK' : ''}}
            {{patient.weight && !patient.status ? 'WARN' : ''}}</span></td>
          <td>{{patient.weight ? patient.getBmi() + ' kg/m' : ''}}<sup>{{patient.weight != undefined ? 2 : ''}}</sup></td>
          <td>{{patient.weight ? patient.weight + ' kg' : ''}}</td>
          <td>{{patient.height ? patient.height + ' cm' : ''}}</td>
        </tr>
    </tbody>
</table>
