<div class="partogram-list">
<table class="p-data-table">
  <th>Time</th>
  <th>View</th>
  <th>Delete</th>

  <tr *ngFor="let partogram of partograms; let i = index">

    <td>{{ convertUnixDate(partogram.labor_start_time) | date:'short' }}</td>
    <td>
    <a [routerLink]="['/partograms', partogram.labor_start_time]">
      Partogram {{i + 1}}
    </a>
    </td>

    <td><button (click)="removePartogram(partogram.labor_start_time)">Delete partogram</button></td>
  </tr>

</table>


</div>


<button (click)="addNewPartogram()">Add new partogram</button>
