<div class="partogram-list">
<table class="partogram-list-table">
  <th>Time</th>
  <th>View</th>
  <th>Delete</th>

  <tr *ngFor="let partogram of partograms; let i = index">

    <td>{{ convertUnixDate(partogram.labor_start_time) | date:'short' }}</td>
    <td>
    <button [routerLink]="['/partograms', partogram.partogram_id]">
      Partogram #{{i + 1}}
    </button>
    </td>

    <td><button (click)="removePartogram(partogram.partogram_id)">Delete partogram</button></td>
  </tr>

</table>


</div>


<button (click)="openAddPartogramDialog()">Make new partogram</button>
