table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-top: 2px;
  border: 1px solid #ccc;
  height: 30px;
}

th {
  background: #f3f3f3;
  font-weight: bold;
}

td {
  background: #fafafa; /* Lighter grey background */
  text-align: center; /* Center our text */
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td {
  background: #f1f1f1;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td {
  background: #fefefe;
}

.fill-cell {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.remove-button :hover {
  background: rgb(222, 12, 12);
}

.add-button {
  text-align: center;
  margin-top: 10px;
}
.add-button button:hover {
  background: #4682b4;
  color: #fff;
}
