
<div *ngIf="patient">

  <p>
    Hello, {{patient.initials}}!
  </p>


  <div>
  <label>Initials:
    <input [(ngModel)]="patient.initials" placeholder="initials"/>
  </label>
  </div>

  <div><label>Age:
    <input [(ngModel)]="patient.age" placeholder="age"/>
  </label></div>

  <div><label>Number of vaginal births:
    <input [(ngModel)]="patient.num_past_vaginal_births" placeholder="number of past vaginal births"/>
  </label></div>

  <div><label>Room number:
    <input [(ngModel)]="patient.room_number" placeholder="room number"/>
  </label></div>


  <div>
    <label>Height (in):
      <input [(ngModel)]="patient.height" placeholder="height"/>
    </label>
  </div>

  <div>
    <label>Weight (lbs):
      <input [(ngModel)]="patient.weight" placeholder="weight"/>
    </label>
  </div>

  <div>
    <label>Provider Link: Give this link to providers that you want to have be able to view your partograms
      <p>{{ domain + '/providers/' + patient.id }}</p>
    </label>
  </div>
</div>


<button (click)="save()">save</button>
